.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.space-boxes {
    .clearfix();

    &.space-boxes-col3 {

        .spacebox {
            width:31.999%;
        }
    }

    .spacebox {
    	display: inline-block;
    	line-height: 0;
    	margin-right:2%;
        vertical-align: top;

        &:last-child {
            margin-right:0;
        }

        .swipebox {
            display: block;
        }

        .spacebox-box-title {
            margin:10px auto 0;
            font-size:1.2em;
            line-height: 1em;
        }

        .spacebox-box-image {
            max-width: 100%;
            height:auto;
        }
        .spacebox-box-caption {
            margin:6px 0 0;
            font-size:0.95em;
            line-height: 1.35em;
        }
    }
}