.space-boxes:before,.space-boxes:after{content:" ";display:table}
.space-boxes:after{clear:both}
.space-boxes.space-boxes-col3 .spacebox{width:32.333%}
.space-boxes .spacebox{display:inline-block;line-height:0;margin-right:1.5%;vertical-align:top}.space-boxes .spacebox:last-child{margin-right:0}
.space-boxes .spacebox .spacebox-box-title{margin:0}
.space-boxes .spacebox .spacebox-box-image{max-width:100%;height:auto}
.space-boxes .spacebox .spacebox-box-caption{margin:10px 0 0}
